# Ignorer les datas du dossier data
data/

# Ignorer les dossiers de checkpoints de Jupyter
.ipynb_checkpoints/

# Ignorer les .cache
.cache/

# Ignorer les dossiers de l'environnement virtuel
venv/
__pycache__/

# Ignorer les fichiers spécifiques à l'IDE
.vscode/
.idea/


# Ignorer le miniconda
Miniconda3-latest-Linux-x86_64.sh